:root {
  --white: #ffffff;

  --green-500: #00875f;
  --green-800: ##00b37e;

  --red-500: #f75a68;

  --grey-900: #121214;
  --grey-800: #202024;
  --grey-700: #323238;
  --grey-600: #7c7c8a;
  --grey-400: #8d8d99;
  --grey-300: #c4c4cc;
  --grey-100: #e1e1e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--grey-900);
  color: var(--grey-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
