/*Esse calculo são os 3rems iniciais + a soma da bord (4px dos dois lados) a e do outline (2px de 2 lados) totalizando em 12px */
/* a imagem ja tem uma borda, esse outline coloca uma borda na borda - o outline compreeme a imagem */
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--grey-800);
  outline: 2px solid var(--green-500);
}
